.coin-info-desc
{
    margin: 1rem;
    cursor: pointer;
    color: var(--white);

}
.coin-info-heading
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--white);

}
.coin-info-desc a
{
   
    text-decoration: underline !important;
}
.coin-info-desc a:hover
{
    color: var(--blue) !important;
}