.grid-container
{
    width: 300px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
}
.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3s;
}
.grid-container-red:hover{
    border-color: var(--red);
    transition: all 0.3s;
}
.info-flex
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin:1.5rem;
}
.coin-logo
{
    height: 3.5rem;
    width: 3.5rem;
}
.name-col
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.coin-symbol
{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
.coin-name
{
    color: var(--grey);
    text-transform: capitalize;
    font-weight: light;
    font-size: 1rem;
    margin: 0;
}
.chip-flex
{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 1rem 1.5rem;
}
.price-chip
{
    border: 2px solid var(--green);
    border-radius: 2rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: var(--green);
    /* min-width: 64px; */

}
.price-chip:hover
{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}
.chip-red
{
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
}
.chip-red:hover
{
    background-color: var(--red)!important;
    color:var(--white) !important;
    transition: all 0.3s;
}
.icon-chip
{
    border: 2px solid var(--green);
    border-radius: 50%;
     height: 2rem;
     width: 2rem;
     display: flex;
   justify-content: center;
   align-items: center;
    font-size: 1rem;
    color: var(--green);
}
.icon-chip:hover
{
    background-color: var(--green);
    color: var(--white);
}
.info-container
{
    margin: 1.5rem;
}
.coin-price
{
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
}
.total-volume
{
    color:var(--grey);
    font-size: 1rem;
    font-weight: 500;
    display: block;
}
@media only screen and (max-width:760px)
{
    .grid-container
    {
        width: 200px;
        height: 200px;
    }
    .total-volume
    {
        display: none;
    }
    .info-flex
    {
        gap: 0.5rem;
        margin: 0.75rem;
    }
    
    .coin-logo
    {
      height: 2.75rem;
      width: 2.75rem;
    }
    .coin-symbol
{
   
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
}

}
@media only screen and (max-width:560px)
{
    .grid-container
    {
        width: 175px;
        height: 175px;
    }
    
    
    
    .chip-flex
{
    gap: 0.7rem;
    align-items: center;
    margin: 1rem 1.5rem;
}
.price-chip
{
   
    padding: 0.35rem 1.25rem;
    font-weight: 600;
    font-size: 0.9rem;
    min-width: 37px;

}

}
@media only screen and (max-width:510px)
{

    
    .grid-container
    {
        width: 145px;
        height: 145px;
    }
    .price-chip
{
   
    padding: 0.2rem 0.6rem;
   /* font-weight: 400;
    font-size: 0.75rem; */
    min-width: 30px;

}
.icon-chip
{
   
     height: 1.5rem;
     width: 1.5rem;
    /* border: 1px; */
    /* font-size: 5.4rem; */


}

.coin-price
{
    
    font-size: 0.8rem;
    font-weight: 600;
  
}

}
@media only screen and (max-width:370px)
{
    .grid-container
    {
        width: 135px;
        height: 150px;
    }
}