.select-days
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.p-tag
{
    color: var(--white);
}

.MuiInputLabel-root
 {
 color: var(--white)!important;
 font-size:15px !important;
  }


@media only screen and (max-width:415px)
{
    .select-days-compare{
         transform: translateX(-67px);
    }
    
}
@media only screen and (max-width:360px)
{
    .select-days-compare{
         transform: translateX(-75px);
    }
    
}

