.navbar
{
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    padding-bottom: 0.75rem;
    background-color: var(--black);
    z-index: 100;
}
.logo
{
    font-size: xx-large;
    color: var(--white);
}
.links
{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    gap:1.5rem;
}
.link{
    color:var(--grey);
    font-weight:600;
    font-size: larger;
    /* font-size: 1rem; */
}
.link:hover{
    color:var(--white);
    transition: all 0.3s;
}
.mobile-drawer
{
    display:none;
}
@media only screen and (max-width:800px)
{
    .navbar
    {
        padding: 1.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.75rem;
    }
   
    .logo
    {
        font-size: 2rem;
    }
    .links{
        display:none;
    }
    .mobile-drawer
    {
        display:block;
    }
    .drawer-div
    {
        width:40vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1.5rem;

    }
}
@media only screen and (max-width:420px)
{
    .logo
    {
        font-size: 1.25rem;
    }
}