:root
{
  --white: #fff;
  --black: #111;
  --blue: #3a88e9;
  --grey: #888;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141;
}

body {
 background-color: var(--black);
 color:var(--white);

}
html
{
  scroll-behavior: smooth;
}

::selection
{
  background-color: var(--blue);
  color:var(--white);
}
a
{
  color:var(--white);
  text-decoration: none;
}
.grey-wrapper
{
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  padding: 1rem 1rem;
  border-radius: 0.8rem;
}
.coins-days-flex
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem;
  gap:2rem;
}

